/***************Anuncios Radiales*******************/

.intro{
    color: #A6ACAF;
    text-align: center;
    margin-top: 25px;
    margin: auto 0;
    background: #FBFCFC;
}

.text{
    color: #17202A;
    background: #FBFCFC;
    width: 80%;
    font-size: 20px;
    margin-left: 50px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;

}

.crisLocu{
    margin-left: 15%;
    margin-right: 08%;
    width: 500px;
}


/****************Responsable********************/

@media (max-width : 1020px) {

    body{
        text-align: center;
    }
    .text{
        font-size: 20px;
        margin-top: 15px;
        width:250px;
    }


    .crisLocu{
        height: 250px;
        width: 250px;
        margin-top: 30px;
        margin-left: 6%;
        margin-right: 6%;
    }
}

