article{
    background: #FBFCFC;
}
h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 70px;
    width: 900px;
}

.nota {
    text-align: center;
}

.imagenUno {
    height: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 20px;

}

p {
    color: #17202A;
    width: 80%;
    font-size: 20px;
    margin-left: 50px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

h3 {
    font-size: 20px;
    margin-top: 30px;
    font-style: oblique;
    outline-style: solid;
}

.enlace {
    color: rgb(52, 107, 189);
}

.icon{
    width: 3%;
}

@media (max-width : 1020px) {

    body {
        text-align: center;
    }

    h2 {
        width: 280px;
        font-size: 30px
    }

    p {
        width: 280px;
    }

    .imagenUno {
        width: 300px;
        height: 400px;

    }
}