@charset "utf-8";
/* CSS Document */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  #FBFCFC;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.titulo{

  position: relative;
  text-align: center;
}

.imagenPortada{
  width: 15%;
}

.imagenPortada {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 80px;
}
.imagenPortada {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #17202A;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  animation: waviy 4s ease 0s infinite normal forwards;
  
}



@keyframes waviy {
	15% {
		transform: translateX(-30px) rotate(-25deg);
	}

	75% {
		transform: translateX(-6px) rotate(15deg);
	}
}

li, .menuPrincipal{
	display: inline;
	margin: 10px;
  margin-top: 20px;
	color: #17202A;
  font-size: 15px;
}

a{
  text-decoration: none;
  color: #17202A;
}

.menu{
	position: relative;
	text-align: center;
}

li:nth-child(1):hover{
  text-decoration-line: underline;
}

li:nth-child(2):hover{
  text-decoration-line: underline;
}

li:nth-child(3):hover{
  text-decoration-line: underline;
}

li:nth-child(4):hover{
  text-decoration-line: underline;
}

li:nth-child(5):hover{
  text-decoration-line: underline;
}

li:nth-child(6):hover{
  text-decoration-line: underline;
}

li:nth-child(7):hover{
  text-decoration-line: underline;
}


/****************Responsable********************/

@media (max-width : 720px) {
  li{
    font-size: 50px;
    border-radius: 20px;
  }

  .menuPrincipal{
    border-style: solid;
    display:inline;


  }  

  .waviy {
    font-size: 40px;
  }

  .menu{
    margin-top: 40px;
    
  }

 
  
  
}
